svg{
	visibility: hidden;
}

 body {padding: 0; margin: 0;} 

 element.style{
 	visibility: visible;
 }

div{
	display:inline-block;
	border-style: solid;
    border-width: 2px;
    border-color: white;
}

.letterInfo{
	display: initial;
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	border-style: none;

}